name: Create Draft Release

on:
  push:
    tags:
      - 'v*'
      - '[0-9]*'

permissions: {}

jobs:
  release:
    name: "Create Draft"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4"

      - name: "Adjust version number"
        shell: "bash"
        run: |
          # Pobieramy nazwę tagu z referencji git (np. v1.2.3)
          TAG_NAME=${GITHUB_REF#refs/tags/}
          yq -i -o json ".version=\"$TAG_NAME\"" \
            "${{ github.workspace }}/custom_components/rce/manifest.json"

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/rce"
          zip rce.zip -r ./

      - name: "Upload the ZIP file to the draft"
        uses: softprops/action-gh-release@v2.2.1
        with:
          files: ${{ github.workspace }}/custom_components/rce/rce.zip
          draft: true  # To kluczowe ustawienie - release nie będzie publiczny
          tag_name: ${{ github.ref_name }} # Używa nazwy pushniętego tagu
